
*{
  margin: 0;

}

#NavBar{
  background-color: #B3DDC9;
  
}
#home{
  
  display: flex;
  justify-content: space-between;
  /* background-color: white;  */

  }

 #footer{
   margin-bottom: 0;
   justify-content: center;
   background-color: #015A06;
 }